<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}"> 
    </head>
    <body>
        <h1>About Us</h1>
        <p></p>
        <img src="https://1.bp.blogspot.com/-6Ea_m0wckkY/XlBvmOF-GAI/AAAAAAAAAA4/hq7fuGHyK7MofX74FF2xrIkit7SdBHt6ACNcBGAsYHQ/s1600/D5E3EC25-0F0C-45AA-93BB-B5986D1F88AA.gif" alt="About Us!">
        <p></p>
        <button>Test Button!</button>
        <p>Test of the About us page</p>
    </body>
</html>